<div class="footer">
    <div class="footercontentcontainer">
        <div class="address">
            {{ address.content|raw }}
        </div>
        <div class="mapcontainer">
            <div id="map"></div>
        </div>
    </div>
    <div id="coverguardcontainer">
        <img id="coverguardimage" src="user/pages/images/coverguard.png" height="100px" width="50px"/>
    </div>
</div>
